---
interface Props {
  title: string;
  year: number;
  quadmester: number;
}
const { title, year, quadmester } = Astro.props;
---

<header
  class='rounded-xl overflow-hidden mt-6 relative border-border border'
  style="background-image: url('/src/assets/images/materia-3.png'); background-size: cover; background-position: rigth;"
>
  <div class='flex flex-col gap-3 p-6 z-40 bg-primary-foreground/40'>
    <h2 class='text-3xl sm:text-4xl font-bold text-white'>{title}</h2>
    <div class='flex items-start gap-5 sm:items-center py-4 gap-8 flex-col sm:flex-row'>
      <div class='flex items-center gap-2'>
        <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 16 16'
          ><path
            class='fill-foreground-secondary'
            d='M16 6.28a1.23 1.23 0 0 0-.62-1.07l-6.74-4a1.27 1.27 0 0 0-1.28 0l-6.75 4a1.25 1.25 0 0 0 0 2.15l1.92 1.12v2.81a1.28 1.28 0 0 0 .62 1.09l4.25 2.45a1.28 1.28 0 0 0 1.24 0l4.25-2.45a1.28 1.28 0 0 0 .62-1.09V8.45l1.24-.73v2.72H16zm-3.73 5L8 13.74l-4.22-2.45V9.22l3.58 2.13a1.29 1.29 0 0 0 1.28 0l3.62-2.16zM8 10.27l-6.75-4L8 2.26l6.75 4z'
          ></path></svg
        >
        <div class='flex flex-col'>
          <p class='text-foreground-muted'>Carrera</p>
          <span class='text-foreground-secondary font-bold'>Ingenieria en Sistemas</span>
        </div>
      </div>

      <div class='flex items-center gap-2'>
        <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 40 40'
          ><g class='fill-foreground-secondary'
            ><path
              d='M36.389 4.962h-5.906a.446.446 0 0 0-.446.446c0 .076.024.144.057.206v3.398a.947.947 0 0 1-.948.948h-1.838a.88.88 0 0 1-.88-.88V5.669a.44.44 0 0 0 .094-.261a.445.445 0 0 0-.446-.446H14.171a.446.446 0 0 0-.446.446c0 .069.019.132.047.191v3.437a.925.925 0 0 1-.925.925h-1.632a.934.934 0 0 1-.934-.934V5.624a.43.43 0 0 0 .063-.216a.445.445 0 0 0-.446-.446H3.675a.993.993 0 0 0-.992.991v29.534c0 .548.445.993.992.993h32.714a.993.993 0 0 0 .991-.993V5.953a.993.993 0 0 0-.991-.991m0 30.626H3.675a.1.1 0 0 1-.1-.101V13.214h32.913v22.272a.1.1 0 0 1-.099.102'
            ></path><path
              d='M12.147 8.944c.246 0 .446-.2.446-.446V2.5a.446.446 0 1 0-.892 0v5.999c0 .246.2.445.446.445m16.154 0c.246 0 .446-.2.446-.446V2.5a.446.446 0 1 0-.892 0v5.999c0 .246.199.445.446.445'
            ></path><circle cx='9.842' cy='17.503' r='2.458'></circle><circle
              cx='16.906'
              cy='17.503'
              r='2.458'></circle><circle cx='23.969' cy='17.503' r='2.458'></circle><circle
              cx='9.842'
              cy='24.348'
              r='2.458'></circle><circle cx='16.906' cy='24.348' r='2.458'></circle><circle
              cx='23.969'
              cy='24.348'
              r='2.458'></circle><circle cx='9.842' cy='31.193' r='2.458'></circle><circle
              cx='16.906'
              cy='31.193'
              r='2.458'></circle><circle cx='23.969' cy='31.193' r='2.458'></circle><circle
              cx='30.867'
              cy='17.503'
              r='2.458'></circle><circle cx='30.867' cy='24.348' r='2.458'></circle><circle
              cx='30.867'
              cy='31.193'
              r='2.458'></circle></g
          ></svg
        >
        <div class='flex flex-col'>
          <p class='text-foreground-muted'>Año</p>
          <span class='text-foreground-secondary font-bold'>{year}º año</span>
        </div>
      </div>

      <div class='flex items-center gap-2'>
        <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'>
          <path
            class='fill-foreground-secondary'
            d='M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m11-9c0 6.075-4.925 11-11 11S1 18.075 1 12S5.925 1 12 1s11 4.925 11 11m-8 4.414l-4-4V5.5h2v6.086L16.414 15z'
          ></path>
        </svg>
        <div class='flex flex-col'>
          <p class='text-foreground-muted'>Cuatrimestre</p>
          <span class='text-foreground-secondary font-bold'>{quadmester}º cuatrimestre</span>
        </div>
      </div>
    </div>
  </div>
</header>
