---
import ContainerSection from '@/components/common/ContainerSection.astro';
import CardSubject from './CardSubject.astro';
---

<ContainerSection id='subject'>
  <div class='grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8'>
    <CardSubject />
    <CardSubject />
    <CardSubject />
  </div>
</ContainerSection>
