---
interface Props {
  url: string;
  class?: string;
  target?: string;
}
const { url, class: className, target } = Astro.props;
---

<a
  id='link'
  target={target}
  href={url}
  class={` rounded-xl hover:scale-105 transition-all duration-200  px-5 py-3 text-sm shadow-sm cursor-pointer  ${className}`}
>
  <slot />
</a>

<script>
  import { navigate } from 'astro:transitions/client';
  /*
  // Navigate to the selected option automatically.
  document.getElementById('link')?.addEventListener('click', (e) => {
    let href = e.target.value;
    navigate(href);
  });*/
</script>
