---
import Header from '@/components/common/Header.astro';
import '@/styles/global.css';
import '@fontsource-variable/rubik';
import Footer from '@/components/common/Footer.astro';
import ContainerPage from '@/components/common/ContainerPage.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Exactamente</title>
  </head>
  <body class='font-rubik bg-primary-foreground'>
    <img src='/src/assets/fondo.png' class='absolute w-full h-full top-0 object-cover' />
    <div class='fade-bottom'></div>

    <ContainerPage>
      <Header />
      <slot />
      <Footer />
    </ContainerPage>
  </body>
</html>

<style>
  .fade-bottom {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 150px;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, #111);
  }
</style>
