---
import ContainerSection from '@/components/common/ContainerSection.astro';
import { DATABASE } from '@/data/database';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
  return DATABASE.careers[0].subjects.map((materia) => ({
    params: { id: materia.id },
  }));
}

const { id } = Astro.params;
const subject = DATABASE.careers[0].subjects.filter((subject) => subject.id == id);
---

<Layout>
  <ContainerSection id='hero'>
    <h2 class='text-foreground text-xl font-bold'>Materia {id}</h2>
    <a class='text-foreground' href={`/${id}/parciales`}>Ver parciales</a>
    <a class='text-foreground' href={`/${id}/finales`}>Ver finales</a>
  </ContainerSection>
</Layout>
