---
import ContainerSection from '@/components/common/ContainerSection.astro';
import HeaderResource from '@/components/common/HeaderResource.astro';
import Layout from '@/layouts/Layout.astro';
import IconPaper from '@/assets/icons/IconPaper.astro';
import Breadcrumb from '@/components/common/Breadcrumb.astro';

import { DATABASE } from '@/data/database';
import ListOfResources from '@/components/common/ListOfResources.astro';
import IconDocument from '@/assets/icons/IconDocument.astro';

export async function getStaticPaths() {
  return DATABASE.careers[0].subjects.map((materia) => ({
    params: { id: materia.id },
  }));
}

const { id } = Astro.params;
const subject = DATABASE.careers[0].subjects.filter((subject) => subject.id == id)[0];
---

<Layout>
  <ContainerSection id='parciales'>
    <Breadcrumb url={`../${id}`} title={subject.title} />
    <HeaderResource title='Parciales' subject={subject.title} urlImg='/images/materia-2.png'
      ><IconDocument size={30} />
    </HeaderResource>
    <ListOfResources resources={subject.resources.parciales} />
    <!--
      <div class='h-screen'></div>
     -->
  </ContainerSection>
</Layout>
